@model Car
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
<h1>Details</h1>
<h2>@Model.Make</h2>
    <h2>@Model.Model</h2>
    <h2>@Model.Price</h2>
</body>
</html>
