@model IEnumerable<Car>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
<h1>@ViewBag.Title</h1>
<div>
     @foreach (Car _car in Model)
     {
         <h2>@_car.Make</h2>
         <h3>@_car.Model</h3>
         <a asp-controller="Home" asp-action="Details">Read More</a>
         <br/>
     }
</div>
</body>
</html>
