@model DreamCars
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
<h1>@ViewBag.Title</h1>
<div>
     @foreach (Car employee in Model.MyDreamCars)
     {
         <h2>@employee.Name</h2>
         <h3>@employee.Model</h3>
         <a asp-controller="Home" asp-action="Details">Read More</a>
         <br/>
     }
</div>
</body>
</html>
